tensorflow==2.12.0
numpy==1.23.5
pandas==1.5.3
openpyxl
scikit-learn
regex
keras
beautifulsoup4==4.12.2
spacy==3.7.5
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz

