annotated_text
tensorflow
numpy
pandas
openpyxl
scikit-learn
regex
keras
beautifulsoup4
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz

